<!-- Segunda Tarjeta / Acerca de -->

<div class="container-md">
  <div class="card bg-dark bg-opacity-75" style="padding: 20px">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3 class="bco" style="margin-left: 50px">Acerca de:</h3>
      </div>
      <div class="col"></div>
    </div>
    <ul id="info_details">
      <div class="row">
        <li *ngFor="let item of acercaDeArr">
          <hr class="whitehorlines" />
          <div class="row"><!-- style="border: 2px solid yellow;"> -->
            <div class="col-lg-2 col-md-1 col-sm-1"></div>
            <div class="col-lg-9 col-md-10 col-sm-10 col-10"><!-- style="border: 2px solid lightgreen;"> -->
              <h6 class="bco justificado">{{ item.texto }}</h6>
            </div>
            <div *ngIf="isLoggedIn | async" class="col-md-1 col-sm-1 col-2"><!-- style="border: 2px solid red;"> -->
              <!-- Botón de Edición -->
              <a [routerLink]="['../editarAcerca/' + item.id]"
                ><i class="far fa-edit fa-lg m-2"></i
              ></a>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
