.marco {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.description {
    font-family: Arial;
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    margin-bottom: 20px;
}