.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.error {
    color: red;
}

input.transparent-input {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: none !important;
}