.no-padding {
    padding: 0px;
}

a,
a label {    
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.vertical-center {
    transform: translateY(80%);
}

.abajo {
    margin-bottom: 0px;
}