a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.description {
    font-family: Arial;
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 10px;
}

.logo {
    max-height: 100px;
}

.year {
    margin-left: 0px;
    /* display: inline-block; */
    /* align-self: flex-end; */
}

.tecnolog {
    max-height: 45px;
    object-fit: contain;
}

.marco {
    float: left;
}

.card {
    margin-bottom: 0 !important;
}

.container-md {
    padding-bottom: 20px;
}

.justificado {
    text-align: justify;
    text-justify: inter-word;
}